



<h1>Create a Post</h1>

<p><a href="/posts">Or click here to go back to all posts!</a></p>
<br>

<form method = "POST" action="/posts">
<label>Post Subject: </label><input type="text" name="name" />
<br>
<label>Content:</label><br><textarea rows="8" wrap="soft" name="content"></textarea>
<br>
<input type="submit" value="submit" />

</form>